<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

  <mat-card *ngIf="dish" fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{dish.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ baseUrl + dish.image }}" alt={{dish.name}}>
    <mat-card-content>
      <p>{{dish.description}}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="!dish && !promotion && !this.leaderExecutive" fxFlex>
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </mat-card>

  <mat-card *ngIf="promotion" fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{promotion.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ baseUrl + promotion.image }}" alt={{promotion.name}}>
    <mat-card-content>
      <p>{{promotion.description}}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="this.leaderExecutive" fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{this.leaderExecutive.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{leaderExecutive.image}} alt={{leaderExecutive.name}}>
    <mat-card-content>
      <p>{{this.leaderExecutive.description}}
      </p>
    </mat-card-content>
  </mat-card>

</div>
